div {
	font-size: 80%;
	color: purple;
	font-weight: bold;
	font-style: oblique;
	text-align: center;
}
h1 {
	font-size: 120%;
	color: green;
	background-color: black;
	text-align: center;
}
h2 {
	font-size: 110%;
	color: gray;
	background-color: blue;
	text-align: center;
}
p {
	font-size: 90%;
	/* Font senza grazie? */
	color: #252850;
	text-align: justify;
}
